
.post{
    position: relative;
    margin-bottom: 70px;
    padding:15px;
    border-color: #32AAFF;
    border-bottom-style: dotted;
}
.post:hover{
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-color: #32AAFF;
    border-bottom-style: dotted;
}

.post a div{
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

.post #date{ 
    color: #828282;
    float: right;
    padding-right: 30px;
}
.post h1{
    color: #000000;
    padding-left: 30px;
}
.post #contents{
    text-align: left;
    padding-bottom: 20px;
    padding-left: 50px;
    color: #808080;
    font-size: large;
}

.post #category{
    color: #838383;
    padding-left: 30px;
}

.comment{
    margin: 20px 0px 20px 20px;
}

.search-box{
    height:50px;
    
}
.search-box-form{
    float: right;
    padding-right: 5%;
}

.add-comment{
    height: 100px;
}
