#blog-title{
    color: #00498c;
    size : 100px;
    margin-top: 50px;

}

.top-menu, .top-menu:hover, .top-menu:visited{
    color: #32AAFF;
    float: right;
    font-size: 17pt;
    margin-right: 20px;
}

.userName{
    float: right;
    margin-right: 20px;
    color: #00498c;
    font-family: inherit;
    font-size: 20px;
}


.input-group{
    display: inline-flex;
    float: right;
}