.edit_comment{
    display: inline;
}
.edit_comment label{
    display: none;
}

.form-group div{
    display: inline-block;
    /* height: 100px; */
}

/* textarea{
    width : 400px;
    height : 100px;
}

.edit_comment input{
    width: 100px;
    height : 100px;

}
 */
