{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/login.css'%}">
<div class="signin_div">
    
    <img src="{% static 'blog/image/qd_icon.jpg'%}" id="signin_logo">
    {% if form.errors %}
        <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username}}
    {{ form.password }}
    <input type="submit" id="signin_submit" value="login" />
    <input type="hidden" name="next" vlaue="{{ next }}" />
    </form>
</div>
{% endblock%}