{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Q's dev log
            <span class="text-muted">with Django</span>
        </h2>
        <p class="lead">
            Django를 이용해 만든 blog 샘플입니다.
        </p>
    </div>
</div>

<div class="col-md-5"> 
    <img class="featurette-image img-responsive center-block" src="{% me%}">
</div>

<hr class="featurette-divider">

{% endblock %}