{% load static %}
<html>
    <head>
        <title>QQ_dev_log</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'blog/css/blog_frame.css'%}">
        <link rel="stylesheet" href="{% static 'blog/css/blog_container.css'%}">
        <link rel="stylesheet" href="{% static 'blog/css/blog_header.css'%}">
        
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'blog/js/blog_main.js' %}"></script>
        <script src="{% static 'blog/js/comm.js' %}"></script>

    </head>
    <body>

        <!-- <span class="glyphicon glyphicon-list" id="header_menu"></span>             -->
        <div class="wrapper">

            <!-- Sidebar -->
            <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Q's Develop</h3>
                        <strong>QD</strong>
                    </div>
                    <div class="sidebar-ul">
                       <ul class="list-unstyled components">
                            <li>
                                <a href="{% url 'blog:post_list' %}">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Home
                                </a>
                                <a href="{% url 'blog:about' %}">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                    About
                                </a>
                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                                    <i class="glyphicon glyphicon-duplicate"></i>
                                    Category
                                </a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                    {% for post in posts_for_category%}
                                        <li><a href="{% url 'blog:post_category_list' category=post.category %}">{{post.category}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'blog:portfolio' %}">
                                    <i class="glyphicon glyphicon-link"></i>
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'blog:contact' %}">
                                    <i class="glyphicon glyphicon-send"></i>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
    
                    <!-- <ul class="list-unstyled CTAs">
                        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
                    </ul> -->
                </nav>
        
            <!-- Page Content -->
            <div id="content">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
            
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <span class="glyphicon glyphicon-list"></span>
                                <!-- <span>Toggle Sidebar</span> -->
                            </button>
                        </div>
    
                        {% if user.is_authenticated %}
                        <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="{% url 'blog:post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
                        <span class="userName">Hello {{ user.username }}</span>
                        
                        {% else %}
                        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></span></a>
                        {% endif %}
                        
                        <h1 id="blog-title"><a href="http://127.0.0.1:8000/">Q's Develop</a></h1>
                        

                        <div class ="search-box">

                            <form class="search-box-form" action="{% url 'blog:post_list' %}" method="get">
                                <!-- <div class='search-box'></div> -->
                                <!-- <label> 검색 </label> -->
                                
                                <div class="input-group">
                                    <select name ='fd_name' class="form-control" >
                                            <option value ='title'>title</option>
                                            <option value ='text'>text</option>
                                            <!-- <option value ='category'>category</option> -->
                                    </select>
                                    <input type="text" name="item" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class='btn btn-default' type='submit'>
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>            
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>

                <div class = "container">
                    <div>
                        {% block content%}
                        {% endblock%}
                    </div>
                </div>
            </div>
        </div> 




    </body>
</html>