{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'daumeditor/css/editor.css' %}" type="text/css" charset="utf-8"/>
<script src="{% static 'daumeditor/js/editor_loader.js' %}" type="text/javascript" charset="utf-8"></script>


    <h1>New Post</h1>
    <form name="frm" id="frm" action="" method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>


{% endblock %}



<!-- 스마트 에디터 조사 필요 -->
<!-- 참고 -->
<!-- https://kimsg.tistory.com/237 -->
<!-- https://summernote.org/getting-started/#installation -->