{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/blog_detail.css'%}">
<script src="{% static 'blog/js/blog_detail.js'%}"></script>

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class = "glyphicon glyphicon-plus"></span></a>
        <a class="btn btn-default" href="{% url 'blog:post_remove' pk=post.pk %}"><span class = "glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>



    
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://qdevlog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
   <!--                              
    <div class="edit_comment">
        <p>Add Comment</p>
        <form method="POST" class ="post-form form-inline">
            <div class="form-group">
                {% csrf_token %}
                <div>
                    {{ form.text }}
                </div>
                <div>
                    {{ form.author }}
                </div>
                <button type="submit" class="save btn btn-default">Send</button>
            </div>
        </form>
    </div>
    <hr>

    {% for comment in comments %}
        <div class="comment">
            <div calss="date">
                {{ comment.created_date }}
            </div>
            
            <p><span><strong> {{ comment.author }}</strong></span> <span>{{ comment.text|linebreaks }}</span></p>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div>
    {% empty %}
        <p>No comments here yet :) </p>
    {% endfor %} -->

{% endblock %}

            <!-- {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %} -->
