{% extends "blog/base.html" %}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'blog/css/blog_list.css'%}">
<script src="{% static 'blog/js/blog_list.js'%}"></script>

    {% for post in posts %}
    
        <div class ="post card-body px-lg-5 pt-0">
            <a class="post_link" href="{% url 'blog:post_detail' pk=post.pk %}">
                <div><h1>{{ post.title }}</h1> <span id='date'>{{post.published_date}}</span></div>
                <p id='contents'>{{post.text|striptags}}</p>
                <p id='category' >tag : {{post.category}}</p>
            </a>
        </div>
    </a>
    {% endfor%}

    <div class="lst_paging">
        {% if posts.has_previous %}
        <!-- <a href="?page=1"><<</a> -->
        <a href="?page={{ posts.previous_page_number }}"> <이전 </a>
        {% endif %}

        {% for i in posts.paginator.page_range %}
            <a href="?page={{i}}">{{i}}</a>
        {% endfor %}

        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}"> 다음> </a>
        <!-- <a href="?page={{posts.paginator.num_pages}}">>></a> -->
        {% endif %}
    </div>


{% endblock %}
